

<%= image_tag 'boke_neko.png' %>
<div class="">
  ボケの投稿が完了しました。
</div>
<div class="">
  サイト上に反映されるまで少し時間がかかる可能性があります。
</div>

<div class="content__main--middle__more-button">
  <%= link_to "新着ボケへ", bokes_path %>
</div>
