
<% @bokes.each do |boke| %>
  <div class=""><%= image_tag boke.second_odai.photo.image %></div>
  <div class=""><%= boke.text %></div>
<% end %>

<div class="">link</div>
<%= link_to "ãŠé¡Œ", second_odais_path %>
