<div class="">
  PhotosController
</div>
<div class="">
  お題投稿
</div>

<a href="https://bokete.jp/images/odai-post-01.jpg"></a>


<div class="">
  flickrからお題を選ぶ

</div>
<button type="submit" name="submit"></button>



<%= link_to "手持ちの写真をお題に", new_photo_path %>
<button type="submit" name="submit"></button>
