body {
  padding-top: 40px;
  background-image: url(wood_pattern.png);

}
$overall-width: 1000px;

.navbar {
  margin: 0 auto;
  margin: 0;
  height: 45px;
  width: $overall-width;
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: 2px solid gray;
  margin-right: auto;
  margin-left: auto;

  &__logo{
    float: left;
    width: 135px;
    height: 42px;
    padding-right: 20px;
  }
  &__list{
    padding-top: 15px;
    &--left {
      &__item{
        float: left;
        width: 28px;
        height: 19px;
        font-size: 14px;
        padding: 0 14px;
        font-weight: bold;
        &--link{
          text-decoration: none;
          color: black;
        }
      }
    }
    &--right {
      float: right;
      &__item{
        float: left;
        height: 19px;
        font-size: 14px;
        padding: 0 14px;
        font-weight: bold;
        &--link{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.middle {
  clear: left;
  padding-top: 45px;
}
$top-news-image-size: 20px;
.top-news {
  padding-top: 10px;
  margin-bottom: 40px;
  font-size: 12px;
  background-color: #fff;
  &__current-place {
    float: left;

    &--image {
      height: $top-news-image-size;
      width: $top-news-image-size;
      float: left;
    }
  }
  &__right {
    float: right;
    &--item {
      padding-right: 7px;
      float: left;
      list-style: none;
    }
    &--item span {
      color: red;
      font-weight: bold;
    }
  }
}
.top-bar {
  clear: both;
  &__menue {
    ul {
      display: inline-block;
      padding-bottom: 40px;
      li {
        padding: 0 10px;
        float: left;
        list-style: none;
      }
    }
  }
}
$main-content-width: 660px;
$right-content-width: calc(#{$overall-width} - #{$main-content-width});
$button-height: 34px;
$button-width: 400px;
.container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: $overall-width;
  background-color: lightgray;
  .content {
    clear: both;
    background-color: gray;
    margin: 0 auto;
    &--top {
      clear: both;
      ul {
        li {
          padding: 0 10px;
          float: left;
          list-style: none;
        }
      }
    }
    &__main {
      width: $main-content-width;
      float: left;
      margin-top: 30px;
      padding-bottom: 100px;
      margin-bottom: 10px;
      background-color: #fff;

      &--index-title {
        clear: both;
        border-bottom: 2px solid orange;
        margin-bottom: 30px;
      }
      &--top {
        &__boke {
          text-align: center;
          &--photo{
            display: inline-block;
            img {
              border: 1px solid #999;
            }
            &--content {
              text-align: right;
              font-size: 13px;
              &__photoby {
                font-size: 12px;
              }
              &__odaiby {
                font-size: 12px;
              }
            }
          }
        }
        &__boke-text {
          font-size: 28px;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
          width: 500px;
          margin: 0 auto;
          word-break: break-all;
        }
        &__meta {
          text-align: center;

           ul {
          }
          &--info {
            li{
              list-style: none;
              display: inline-block;
            }
            &__stars {
              border: solid gray;
            }
            &__date {
            }
            &__list {

            }
          }
          &--rating {
            text-align: center;
            &__star {
              display: inline-block;
            }
          }
        }
      }
      &--middle {
        // height: 100%;
        &__boke-horizon {
          background-color: blue;
          height: 200px;
          width: 31%;
          float: left;
        }
        &__more-button {
          clear: both;
          margin: 30px auto;
          height: $button-height;
          width: $button-width;
          background-color: orange;
          text-align: center;
          color: white;
          line-height: $button-height;
        }
      }
    }
  }
  .content__right {
    float: right;
    width: $right-content-width;
    margin-top: -22px;
    img {
      width: 298px;
    }
  }
  .footer {
    clear: both;
    padding-top: 20px;
    width: 1000px;
    height: 240px;
    background-color: blue;
    &__menue {
      float: left;
      width: 24%;
      &--list {
        list-style: none;
      }
      &--copy-right {
        clear: both;
        background-color: gray;
      }
    }
  }
}


.link {
  clear: both;
}
